name: Sanity check
on:
  push:
    branches: [main]
  pull_request:

jobs:
  python-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: "auto"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Check lockfile is up to date
        run: uv lock --check

      - name: Install dependencies with dev extras
        run: uv sync --extra dev

      - name: Check with ruff
        run: uv run ruff check staffeli_nt

      - name: Check with mypy
        run: uv run mypy -p staffeli_nt

      - name: Check with pyright
        run: uv run pyright staffeli_nt
